@model WebQecPortal.Models.CourseOutline

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_DashboardLayoutPage1.cshtml";

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="card bg-info text-white">
                <div class="card-body">

                    <center><h3>Delete Course Outline</h3></center>

                </div>
            </div>

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>CourseOutline</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Course.CourseCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Course.CourseCode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Course.CourseTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Course.CourseTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Department.DepartmentName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Department.DepartmentName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Instructor.InstructorName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Instructor.InstructorName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Program.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Program.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status.StatusID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status.StatusID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Term.Semester)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Term.Semester)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
         </div> 
     </div>
</div>