@model IEnumerable<WebQecPortal.Models.Student>


@{
    ViewBag.Title = "StudentEvaluation";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">


            <div class="card bg-info text-white" style="height:100px;">
                <div class="card-body">

                    <center>
                        <h3>Student Evaluation</h3>
                        <p>(Course Wise)</p>
                        <center>

                </div>
            </div>

            <div class="card bg-light text-white">
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-3"></div>

                        <div class="col-md-4">
                            <b>Course Name: Computer Programming</b>
                        </div>

                        <div class="col-md-4">
                            <b>Semester: SP21</b>
                        </div>

                        <div class="col-md-3"></div>

                    </div>



                    <div class="row">

                        <div class="col-md-3"></div>

                        <div class="col-md-4">
                            <b>Weeks Spent: Week 11</b>
                        </div>



                    </div>



                </div>
            </div>

            <div class="table100 ver1 m-b-110">
                <table data-vertable="ver1">
                    <thead>
                        <tr class="row100 head">
                            <th>
                                @Html.DisplayNameFor(model => model.StudentRegNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SudentName)
                            </th>
                            <th class="column100 column3" data-column="column3">Assign 1</th>
                            <th class="column100 column4" data-column="column4">Assign 2</th>
                            <th class="column100 column5" data-column="column5">Quiz 1</th>
                            <th class="column100 column6" data-column="column6">Quiz 2</th>
                            <th class="column100 column6" data-column="column6">Project</th>
                            <th class="column100 column7" data-column="column7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                    <tr class="row100">
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentRegNum)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SudentName)
                        </td>
                        
                        <td class="column100 column3" data-column="column3"><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td class="column100 column4" data-column="column4"><i class="fas fa-times"></i></td>
                        <td class="column100 column5" data-column="column5"><i class="fas fa-times"></i></td>
                        <td class="column100 column3" data-column="column3"><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td class="column100 column3" data-column="column3"><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td>
                            <center>
                                <button type="submit" class="btn btn-info"><a href="@Url.Action("StudentEvaluationDetails", "SAR")" style="color:white;">View Details</a></button>
                            </center>
                        </td>
                    </tr>






                        }
                    </tbody>
                </table>
            </div>


        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; 2021-2025 <a href="../#">QEC Portal</a>.</strong>
    All rights reserved.
</footer>
<div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="../plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="../plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="../plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="../plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="../plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="../plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../dist/js/pages/dashboard.js"></script>
