@model WebQecPortal.Models.Institution

@{
    ViewBag.Title = "CourseDescription";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">

        <div class="container contact">
            <div class="row">
                <div class="col-md-12">
                    <div class="enter-class-header">
                        <h2 class="text-white text-center pt-3">Course Description Form</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-md-10">
                    <div class="contact-form">


                        <div class="form-group">
                            <div class="col-sm-10">
                                <p>INSTITUTION:</p>
                                <input type="text" value="@ViewBag.Institution" class="form-control" id="fname" placeholder="" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <p>
                                    PROGRAM (S) TO BE
                                    EVALUATED
                                    :
                                </p>
                                <input type="text" value="@ViewBag.prog" class="form-control" id="fname" placeholder="" name="fname">
                            </div>
                        </div>


                        <label>A.	Course Description </label>
                        <p> (Fill out the following table for each course in your computer science curriculum. A filled out form should not be more than 2-3 pages.)</p>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fname" placeholder="Cource code" name="fname">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.CourseName" class="form-control" id="fname" placeholder="Cource Title" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.Credithr" class="form-control" id="fname" placeholder="Credit Hours" name="fname">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.Prereq" class="form-control" id="fname" placeholder="Prerequisites by Course(s) and Topics" name="fname">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="50"  placeholder="Assessment Instruments with Weights (homework, quizzes, midterms, final, programming assignments, lab work, etc.)">@ViewBag.assess</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.InstructorName" class="form-control" id="fname" placeholder="Course Coordinator" name="fname">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.url" class="form-control" id="fname" placeholder="URL (if any)" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.catdescrip" class="form-control" id="fname" placeholder="Current Catalog Description" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.textbook" class="form-control" id="fname" placeholder="Textbook (or Laboratory Manual for Laboratory Courses)" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.refer" class="form-control" id="fname" placeholder="Reference Material" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.goal" class="form-control" id="fname" placeholder="Course Goals" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <textarea rows="4" cols="50"  placeholder="Topics Covered in the Course, with Number of Lectures on Each Topic (assume 15-week instruction and one-hour lectures)">@ViewBag.topics</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.project" class="form-control" id="fname" placeholder="Laboratory Projects/Experiments Done in the Course" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" value="@ViewBag.prog" class="form-control" id="fname" placeholder="Programming Assignments Don in the Course" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label> Class Time Spent on (in credit hours)</label>
                                <input type="text" value="@ViewBag.theory" class="form-control" id="fname" placeholder="Theory" name="fname">
                                <input type="text" value="@ViewBag.prob" class="form-control" id="fname" placeholder="Problem Analysis" name="fname">
                                <input type="text" value="@ViewBag.sol" class="form-control" id="fname" placeholder="Solution Design" name="fname">
                                <input type="text" value="@ViewBag.issues" class="form-control" id="fname" placeholder="Social and Ethical Issues" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label>Oral and Written Communications </label>
                                <p>
                                    Every student is required to submit at least <input type="text" value="@ViewBag.Owcwritten" id="code" name="code" maxlength="4" size="4"> written
                                    reports of typically
                                    <input type="text" value="@ViewBag.Owcpages" id="code" name="code"
                                           maxlength="4" size="4"> pages and
                                    to make <input type="text" value="@ViewBag.Owcpres" id="code" name="code" maxlength="4" size="4"> oral presentations
                                    of typically <input type="text" value="@ViewBag.Owcminutes" i
                                                        d="code" name="code" maxlength="4" size="4"> minute’s duration.
                                    Include only material that
                                    is graded for grammar, spelling, style,
                                    and so forth, as well as for technical content, completeness, and accuracy.
                                </p>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary"><a href="@Url.Action("CRI","NCEAC")" style="color:white;">Next</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    @Html.ActionLink("AdminStructure", "AdminStructure", "NCEAC")
                    <br />

                    @Html.ActionLink("Admission", "Admission", "NCEAC")
                    <br />
                    @Html.ActionLink("AlumniBSCS", "AlumniBSCS", "NCEAC")
                    <br />
                    @Html.ActionLink("AlumniBSSE", "AlumniBSSE", "NCEAC")
                    <br />

                    @Html.ActionLink("CourseDescription", "CourseDescription", "NCEAC")
                    <br />
                    @Html.ActionLink("CourseLog", "CourseLog", "NCEAC")
                    <br />

                    @Html.ActionLink("CPMF", "CPMF", "NCEAC")
                    <br />

                    @Html.ActionLink("FacultyWorkload", "FacultyWorkload", "NCEAC")
                    <br />
                    @Html.ActionLink("FIF", "FIF", "NCEAC")
                    <br />
                    @Html.ActionLink("FinancialBSCS", "FinancialBSCS", "NCEAC")
                    <br />
                    @Html.ActionLink("FinancialBSSE", "FinancialBSSE", "NCEAC")
                    <br />
                    @Html.ActionLink("HECadministration", "HECadministration", "NCEAC")
                    <br />
                    @Html.ActionLink("PMPF", "PMPF", "NCEAC")
                    <br />
                    @Html.ActionLink("CRI", "CRI", "NCEAC")
                    <br />
                </div>

            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="../plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="../plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="../plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="../plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="../plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="../plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../dist/js/pages/dashboard.js"></script>
